body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  color: rgb(40,40,40);
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.3;
}
.citeus {
  padding: 5px 10px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(50, 50, 50);
  font-size: 10pt;
}
.quote {
  padding-left: 10%;
  font-style: italic;
}
.note {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 25%;
  background-color: rgb(255, 246, 227);
  border: 1px solid rgb(100, 87, 71);
  font-size: 10pt;
}
.bibtex {
  padding-left: 10px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(50, 50, 50);
  font-size: 10pt;
}
.header {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #D9E2E7;
  color: rgb(30, 30, 30);
  font-size: 20pt;
}
.header-menu {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #D9E2E7;
  color: rgb(30, 30, 30);
  font-size: 10pt;
}
.code {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(150, 150, 150);
  font-size: 10pt;
  font-family: monospace;
}
.code-inline {
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(220, 220, 220);
  font-size: 10pt;
  font-family: monospace;
}
.license {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(150, 150, 150);
  font-size: 10pt;
  font-family: monospace;
}
ul.light {
  list-style-type: circle;
}
